@media screen and (max-width: 480px) {

    .middle-section {
        left: 7%;
        top: 15%;
    } 

    .middle-section a {
        font-size: 75%;
    }

    .about {
        flex-direction: column;
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 30px;
        margin-bottom: 150px;
    }

    .header-content h1 {
        font-size: 20px;
    }

    .header-content .btn-2,.btn-3 {
        display: flex;
        flex-direction: column;
    }

    .btn-3 {
        margin-left: 0px;
        margin-top: 10px;
    }

    .left-section-2 span {
        font-size: 14px;
    }

    .left-section-2 h3 {
        font-size: 18px;
    }

    .left-section-2 p {
        font-size: 14px;
        text-align: center;
    }

    .value p {
        font-size: 12px;
    }

    .statistics {
        padding: 0px 2px;
        width: 250px;
    }
    
    .statistics p {
        font-size: 8px;
    }

    .right-section-2 img{
        border-width: 2px;
    }

    .legacy {
        left: 180px;
        bottom: 10px;
        height: 40px;
        width: 30%;
        margin: 0;
        padding-top: 5px;
    }

    .legacy img {
        height: 50%;
        width: 50%;
        padding: 0;
    }

    .legacy h2 {
        font-size: 50%;
        margin: 0;
        padding: 0;
    }
    
    .contact {
        height: 140px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .yellow-square {
        height: 30px;
        width: 30px;
        top: 35px;
        left: 5px;
    }

    .apt-blk-1 {
        height: 60px;
        width: 80px;
        top: 60px;
    }
    
    .apt-blk-2 {
        height: 80px;
        width: 100px;
        left: 30px;
        top: 30px;
    }

    .value {
        flex-direction: column;
    }
    
    .projects .carousel {
        height: 150px;
        width: 200px;
        padding-right: 20px;
        padding-left: 30px;
    }

    .features {
        width: 230px;
    }

    .features i {
        font-size: 15px;
    }

    .features p {
        font-size: 10px;
        width: 50px;
    }

    .completed-projects {
        padding-right: 10px;
    }

    .completed-projects-section {
        margin-left: 25px;
        margin-right: 10px;    
    }

    .completed-projects .btn-7{
        height: 30px;
        font-size: 8px;
    }

    .testimonials .card-body {
        flex-direction: column;   
    }

    .row-1 {
        flex-direction: column;
    }

    .contact {
        margin-left: 0px;
    }

    .contact-forms {
        margin-left: 5px;
        padding: 0px;
    }

    .row-1 input {
        margin: 1px;
        margin-left: 20px;
        width: 220px;
        height: 28px;
        padding-left: 12px;
    }

    .btn-9 {
        padding-left: 10px;
        width: 190px;
        height: auto;
    }

    .location {
        margin-left: 20px;
        flex-wrap: wrap;
    }

    .location div {
        padding-bottom: 30px;
    }

    .location .Locate-us img{
        height: 100px;
        width: 160px;
    }

    .credits {
        margin-left: 20px;
    }
    
    .credits span {
        padding-right: 60px;
    }

    .credits img{
        right: 90px;
    }
}

@media screen and (max-width: 780px) {
    
    .projects {
        flex-direction: column;
    }

    .project-details {
        padding-left: 0px;
    }
    
    .completed-projects-section {
        margin-left: 25px;
        margin-right: 10px;    
    }

    .completed-projects {
        padding-right: 10px;
    }
    
    .card:not(:first-child){
        display: none;
    }

    .testimonials{
        padding-left: 0px;
    }

    .contact {
        flex-direction: column;
        height: auto;
    }

    .contact h5 {
        font-size: 18px;
    }

    .contact p {
        font-size: 8px;
    }
}

@media screen and (min-width: 481px) and (max-width: 900px) {

    .left-section img {
        top: 55px;
        left: 45px;
    }

    .middle-section {
        left: 14%;
        top: 20%;
    }

    .middle-section a {
        font-size: 75%;
    }    

    .right-section button{
        top: 15px;
        right: 70px;
        padding: 5px;
        font-size: 10px;
    }

    .header-content h1 {
        font-size: 24px;
    }

    .header-content button {
        display: flex;
        flex-direction: column;
    }

    .btn-3 {
        margin-left: 0px;
        margin-top: 10px;
    }

    .legacy {
        left: 180px;
        bottom: 10px;
        height: auto;
        width: 30%;
        margin: 0;
        padding-top: 5px;
    }

    .legacy img {
        height: 50%;
        width: 50%;
        padding: 0;
    }

    .legacy h2 {
        font-size: 50%;
        margin: 0;
        padding: 0;
    }

    .statistics {
        padding: 0px 2px;
        width: 300px;
    }

    .about {
        flex-direction: column;
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 200px;
    }

    .yellow-square {
        height: 35px;
        width: 35px;
        top: 30px;
        left: 10px;
    }

    .apt-blk-1 {
        height: 125px;
        width: 100px;
        top: 60px;
    }
    
    .apt-blk-2 {
        height: 175px;
        width: 125px;
        left: 40px;
    }

    .projects .carousel {
        height: 300px;
        padding-right: 20px;
        padding-left: 30px;
    }

    .card:not(:first-child){
        display: none;
    }

    .completed-projects-section {
        margin-left: 25px;
        margin-right: 160px;    
    }

}